<div class="card-wrapper">
  <div class="title">
    <img class="icon" src="assets/icons/briefcase.png" alt="briefcase" />
    <h2>Recent transactions</h2>
  </div>
  <div class="content">
    <div class="toolbar">
      <input type="text" placeholder="Search by typing" />
      <div class="sort-buttons">
        <label>Sort by</label>
        <button>Date</button>
        <button>Beneficiary</button>
        <button>Amount</button>
      </div>
    </div>
    <ul class="transfers">
      <app-transfer-item
        [transfer]="transfer"
        [isFirst]="isFirst"
        *ngFor="let transfer of transfers; first as isFirst"
      >
      </app-transfer-item>
    </ul>
  </div>
</div>
